BOT_TOKEN = "your_telegram_bot_token"

DB_URI = "your_db_uri"

DB_NAME = "your_db_name"

API_URL = "your_backendurl"

SECRET_KEY = "your_jwt_secretkey"

ALGORITHM = "your_jwt_encrypting_algo"

ACCESS_TOKEN_EXPIRE_MINUTES = "your_jwt_expiry"
